module-header
  div.statusbar.bg-white
  div.bg-white.h44.box-shadow.relative
    div.container.s-full.f.fh.relative
      div.bold.fs16
        a.block(href='/') { opts.title || 'chat' }
      div.absolute.t0.l0.h-full.f.fh.px10.cursor-pointer(if='{opts.back}', onclick='spat.nav.back();')
        i.icon-arrow_left.fs28

  style(type='less').
    :scope {
      display: block;
    }
  
  script.
    var self = this;

    this.on('mount', () => {

    });
