module-table
  table.rounded-6.overflow-hidden.table-layout-fixed
    tr.bg-white.border-bottom.fs12.lh14
      th.text-left.px16.py12(each='{opts.headers}' width='{width}') {label}
    tr.border-bottom-not-last.data.bg-white.cursor-pointer.lh14(each="{item, index in opts.items}", onclick='{go}')
      td.px16.py9.fs12(each='{schema in parent.opts.schema.show}', class='{schema.class}')
        //- schema ... スキーマ定義
        //- item ... アイテム
        //- value ... 値(item[key])
        div(data-is='atom-label-{schema.type}', schema='{schema}', index='{index}', item='{admin.method.item(item, schema)}', _id='{admin.method.id(item, schema)}', _value='{admin.method.value(item, schema)}')

  style(type='less').
    :scope {
      display: block;
      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        .data {
          &:hover {
            background-color: hsl(0, 0%, 90%) !important;
          }
        }
      }
    }
  
  script.
    this.on('update', () => {
      
    });

    this.go = (e) => {

      var id = admin.method.id(e.item.item);
      var url = null;
      if (opts.is_subcollection) {
        url = location.pathname + '/' + opts.schema.plural;
      }
      else {
        url = '/' + opts.schema.collection;
      }
      app.routeful.go(url + '/' + id);
    };
