
.button {
  border-radius: 999px;
  padding: 12px 40px;
  &.primary {
    .bg-main;
    border: none;
    color: white;
  }
  &.danger {
    .bg-danger;
    border: none;
    color: white;
  }
  &.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.select {
  background-color: #F5F7FA;
  padding: 8px 8px;
}