page-index
  h1.p12 admin だよ〜

  style(type='less').
    :scope {
      display: block;
    }

  script.
    this.fetch = async ({app}) => {
      console.log('fetch');
      if (this.posts) return {};
      
      var posts = await app.ref.child('posts').get();
      return {
        posts: posts.splice(0, 10),
      };
    };

    this.on('mount', () => {
      console.log('mount');
    });
    
    this.on('show', function() {
      console.log('show');
    });