modal-select-collection.absolute.trbl0
  div.f.fh.s-full.bg-halfblack(onclick='{close}')
    div.w50vw.h50vh.flex-column.flex-between.rounded-2.bg-white.overflow-scroll(ref='modal', onclick='event.stopPropagation()')
      div hoge