page-index
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll
      div.container
        div.posts
          div.m16(data-is='item-chat', each='{item in items}', item='{item}')
    module-tabbar

  script.
    this.fetch = async ({app, modules}) => {
      console.log('fetch');
      if (this.posts) return {};
      var posts = await modules.app.ref.child('posts').get();
      return {
        posts: posts.splice(0, 10),
      };
    };

    this.on('mount', async () => {
    });
    
    this.on('show', async () => {
      this.items = await flarestore.db.collection('groups').orderBy('updated_at', 'desc').getWithRelation();
      this.update();

      //- var base64 = await app.utils.imageToBase64(faker.image.image());
      //- firebase.storage().ref('hoge/foo').child('test').putString(image, 'base64', {contentType:'image/jpg'});
    });
