page-users-single(spat-animation="{is_mypage ? '' : 'slide'}")
  div.flex.flex-column.h-full
    div.h-full.overflow-scroll
      //- header
      div.bg-primary.h32vh.relative
      div.container
        div.px32.mtn40.relative
          div.f.fh.mb16
            img.object-fit-cover.circle.s80.bg-white.border.border-white.border-width-4.box-shadow(src='{user.data.image.url}')
          div.text-center.bold.mb16 {user.data.name || user.data.screen_name}
          p.mb32 {user.data.profile}
          div.f.fh
            button.button.primary(if='{is_mypage}') プロフィール編集

    module-tabbar

  style(type='less').
    :scope {
      display: block;
      .mtn40 {
        margin-top: -40px;
      }
    }

  script.
    
    this.on('show', async (e) => {
      if (e.opts.id) {
        this.is_mypage = false;
        this.update();

        var ref = flarestore.db.collection('users').where('screen_name', '==', e.opts.id);
        var items = await ref.getWithRelation();
        this.user = items[0];
      }
      else {
        this.is_mypage = true;
        this.update();
        var uid = firebase.auth().getUid();
        this.user = await flarestore.db.collection('users').doc(uid).getWithRelation();
      }

      this.update();

      //- var base64 = await app.utils.imageToBase64(faker.image.image());
      //- firebase.storage().ref('hoge/foo').child('test').putString(image, 'base64', {contentType:'image/jpg'});
    });
